.container
{
border:1px solid rgb(179, 80, 255);
height:450px;
width:300px;
margin:auto;
background-color:lightsteelblue;
margin-top:80px;
}
h1{
    text-align: center;
}
.city
{
text-align: center;
color:white;
font-size:25px;
margin:10px;
}
.temp
{
    text-align: center;
    color:white;
    font-size:65px;
    margin:10px;
}
.humidity
{
    text-align: center;
    color:white;
    font-size:20px;
    margin:10px;
}
.wind
{
    text-align: center;
    color:white;
    font-size:20px;
    margin:10px;
}
p{
text-align: center;
color:white;
font-size:20px;
margin:10px;
}
.humid 
{
    
display: flex;
justify-content:center;
}
.windy
{
    display: flex;
    justify-content:center;
}
#input
{
height:25px;
margin:5px
}
.button
{
height:30px;
width:80px;
margin:20px;
margin:5px 110px;
}